[Desktop Entry]
Name=yt-dlp Music GUI
Comment=yt-dlp GUI frontend for downloading music in FLAC format
Exec=yt-dlp-music-gui
Icon=yt-dlp-music
Terminal=false
Type=Application
Categories=AudioVideo;Utility;
Path=
StartupNotify=false
