[Desktop Entry]
Name=yt-dlp-music GUI
Comment=yt-dlp-music GUI frontend
Exec=yt-dlp-music-gui
Icon=yt-dlp-music
Terminal=false
Type=Application
Categories=AudioVideo;Utility;
Path=
StartupNotify=false
